{% extends 'base.html' %}


{% block head %}
<title>Table</title>
{% endblock %}

{% block body %}


<div class="container">
    <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10"> -->
        <table class="table table-sm table-dark" style="color: #00ff00">
          <thead>
            <tr>
              <th>Name</th>
              <th>% Since Oldest Data</th>
              <th>From</th>
              <th>To</th>
              <th>% Since Newest Data</th>
              <th>From</th>
              <th>To</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SkinName</td>
              <td>50% Since 9/9/2019/18:27</td>
              <td>100</td>
              <td>1r</td>
              <td>11% Since (Time)></td>
              <td>50</td>
              <td>1r</td>
            </tr>


          </tbody>
        </table>
      </div>
    <!-- </main> -->
{% endblock %}
